<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="linkers/face.js"></script>
</head>

<body>
  <br>
  <div class="container">
    <a style="color:white"href="http://127.0.0.1:5000">
      <button class="btn btn-info"> Back</button>
    </a>
    <div class="jumbotron">
      <h1>Recognize gestures</h1>
      <h2>Currently Support all Indian Sign Language Alphabets</h2>
      <p>Remember to create your hand histogram</p>
    </div>
    <br>
    <button id="detect" class="btn btn-success" onclick="location.href='http://127.0.0.1:5000/capture_hist';">Detect Hand</button>
    <br>
    <br>
    <button id="prediction" class="btn btn-success" onclick="location.href='http://127.0.0.1:5000/recognize_gest';">Detect Gesture</button>

  </div>
</body>
</html>
