<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Creating Histogram</title>
  </head>
  <body>
    <div class="container">
      <a style="color:white"href="http://127.0.0.1:5000/">
        <button class="btn btn-info"> Back</button>
      </a>
      <div class="jombotron">
        <h1>Creating histogram</h1>
        <img src="{{ url_for('calc') }}">
      </div>

    </div>
  </body>
</html>>
