<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Creating Histogram</title>
  </head>
  <body>
    <br>
    <br>
    <div class="container">
      <a style="color:white" href="recognize_gesture.html">
        <button class="btn btn-info"> Back</button>
      </a>
      <div class="jumbotron">

      </div>
      <br>
      <div>
        <a style="color:white" href="http://127.0.0.1:5000/capture_hist">
          <button class="btn btn-info"> Capture</button>
        </a>
      </div>
    </div>
  </body>
</html>
