<head>
  <title>ISL Interpreter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Indian Sign Language Interpreter</h1>
      <p>Your everyday companion</p>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4" align="left">
        <img style="width:30%" src="images/add_gesture.png" />
        <br>
        <a style="color:white" href="add_gesture">
        <button class="btn btn-info">Add Gesture</button>
        </a>
      </div>
      <div class="col-xs-4"  align="center">
        <img style="width:30%" src="images/train_model.png" />
        <br>
        <a style="color:white" href="train_model">
        <button class="btn btn-success">Train Model</button>
        </a>
      </div>
      <div class="col-xs-4"  align="right">
        <img style="width:30%;padding:5px" src="images/detect_gesture.png" />
        <br>
        <a style="color:white;" href="recognize_gesture">
        <button class="btn btn-warning">Detect Gesture</button>
        </a>
      </div>
    </div>
  </div>

  </body>
