<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Creating Histogram</title>
  </head>
  <body>
    <br>
    <br>
    <div class="container">
      <a style="color:white" href="recognize_gesture">
        <button class="btn btn-info"> Back</button>
      </a>
      <div class="jombotron">
        <h1>Detecting Gesture</h1>
        <img src="{{ url_for('calc2') }}">
      </div>
      <br>
      <br>


    </div>
  </body>
</html>
