<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="linkers/face.js"></script>
</head>

<body>
  <br>
  <div class="container">
    <a style="color:white"href="index.html">
      <button class="btn btn-info"> Back</button>
    </a>
    <div class="jumbotron">
      <h1>Recognize gestures</h1>
      <h2>Currently Support all Indian Sign Language Alphabets</h2>
      <p>Remember to create your hand histogram</p>
    </div>
    <br>
    <a style="color:white"href="capture_hist.html">
    <button id="detect" class="btn btn-success">Detect Hand</button>
    </a>
    <br>
    <a style="color:white"href="recognize_gest.html">
    <button id="prediction" class="btn btn-success">Detect Gesture</button>
    </a>
</body>
</html>
